html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Monaco', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
}

body {
	background-image: url('../images/tulips_bg.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.main-wrapper {
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

a {
	color: #139EFF;
	text-decoration: none;
}

h1 {
	font-size: 1.5em; 
	color: #139EFF;
}

/* Layout header */
div.header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background: #f2fbfc;
	background-image: url(../images/background_tile.png);
	background-repeat: repeat-y;
	background-size: 100% auto;
}

div.header span {
	position: relative;
	left: 25px;
	top: 15px;
	font-family: sans-serif;
	font-size: 1.7em;
	color: #139EFF;
}

div.header span a {
	font-family: sans-serif;
	font-size: 13px;
	color: #139EFF;
}

/* Layout container */
div.container {
	width: 1100px;
	height: auto;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div.content {
	margin-top: 60px;
}

/* Article */

h4 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.articles-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	padding-left: 150px;
	width: 800px;
}

div.article {
	margin-bottom: 30px;
}

div.article img {
	border-radius: 8px;
	width: 250px;
}

.article-header {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}

.article-date {
	font-size: 12px;
	color: #999;
	margin-bottom: 15px;
}


.article-views-count-num {
	padding-right: 10px;
	display: inline-block;
	float: right;color: #999999;
}

.article-views-count-img {
	display: inline-block;
	width: 20px;
	height: 13px;
	background: url('../images/views_count.png') no-repeat center / 25px 25px;
	padding-right: 10px;
	float: right;color: #999999;
}

.article-open {
	padding-top: 20px;
}

.article-open a {
	text-decoration: underline;
}

.article-container {
	float: left;
}

.articles-sort-by {
	margin-top: 5px;
	float:right;
	width: 100px;
	font-size: 15px;
}

.articles-sort-by a:hover {
	text-decoration: underline;
}

.articles-cat-all {
	display: inline-block;
	float: right;
	font-size: 15px;
}

/****** "article.tpl" layout ********/
.article-layout {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.article-container1,
.article-container2 {
	background: rgba(255, 255, 255, 0.9);
	max-width: 500px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	padding: 20px;
}

.article-container2 {
	padding-top: 0px !important;
}

.article-container3 {
	grid-column: 1 / span 2;
	background: rgba(255, 255, 255, 0.95);
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	margin-bottom: 50px;
}

@media (max-width: 768px) {
	.article-layout {
		grid-template-columns: 1fr;
	}
	.article-container3 {
		grid-column: 1;
	}
}
/*****************************************/

.article-tags {
	margin-bottom: 10px !important;
	font-size: 18px;
}
.article-tags span {
	color: #139EFF;
	margin-right: 5px;
 }
.article-tags span a:hover {
	text-decoration: underline;
}


/* Categories */
.categories-grid {
	display: grid;
}

.category {
	margin: 20px;
	width: 930px;
}
.category-description {
	width: 930px;
	padding-left: 150px;
	padding-bottom: 20px;
}

.category-name {
	padding-left: 130px;
	width: 200px;
	display: inline-block;
}

.category-name span {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}

.category-name div {
	margin-top: 2px;
	font-size: small;
	display: inline-block;
	float: right;
}

.category-name div a {
	text-decoration: underline;
}

.categories {
	margin-top: 5px;
}

div.categories span {
	font-size: 14pt;
}

.category-all-topics {
	float: left;
	padding: 3px;
	height: 30px;
	padding-left: 13px;
	padding-right: 8px;
	color: #c4f697;
	font-weight: bold;
}

.category-badge {
	display: inline-block;
	padding: 5px 8px;
	background-color: #81A929;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	transition: background 0.2s;
}

.category-badge:hover {
	padding-top: 5px;
	background-color: #007bff;
	color: white;
}

.category-badge-hover{
	padding-top: 5px;
	background-color: #007bff;
	color: white;
}

.category-badge a {
	color: white;
}

/* Menu */
div.menu_1 {
	width: 100%;
	height: 20px;
	padding: 0px;
	background: #99de00;
	margin-top: 3px;
	overflow: hidden;
}

.menu_1 span {
	background: #99DE00;
	border-right: 1px solid #fff;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;
}

.menu_1 span.home {
	background: #139EFF;
}

.menu_1 span.home a {
	color: white !important;
}

.menu_1 span.alt a, span.home {
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;
	text-decoration: none;
}

.menu_1 span a:hover{
	text-decoration: underline !important;
}

div.menu_2 {
	width: 100%;
	height: 25px;
	padding: 0px;
	background: #81a929;
	margin-top: 3px;
	overflow: hidden;
}

/* task.tpl */
.container-in-content {
	margin-left: 80px;
	margin-right: 80px;
}

/* Pagination */
.pagination-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0 20px;
	border-top: 1px solid #eee;
}
.pagination {
	display: flex;
	list-style: none;
	padding: 0;
	gap: 5px;
}
.pagination li a, .pagination li span { margin: 10px; padding: 8px 12px; border: 1px solid #ccc; border-radius: 8px;text-decoration: none; color: #333; }
.pagination li.active span { background-color: #007bff; color: white; border-color: #007bff; }
.pagination li.disabled span { color: #ccc; cursor: not-allowed; }
.pagination li.dots span { border: none; }


form, input {
	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 14px;
	font-size: 9pt;
}

.button {
	background: #99DE00;
	color: #fff;
	border: 0px;
	padding: 0px;
}
