html, body {
	min-height: 100% !important;
	margin: 0px !important;
}

body {

	background: #eee;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #666;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

a {

	color: #139EFF;
	text-decoration: none;
}

h1 {
	
	font-size: 1.5em; 
	color: #139EFF;

}

div.container {

	width: 750px;
	height: auto;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: left;

}

div.header {

	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	background: #f2fbfc;
	background-image: url(../images/background_tile.png);
	background-repeat: repeat-y;

}

div.header span {

	position: relative;
	left: 25px;
	top: 30px;
	font-family: sans-serif;
	font-size: 2.1em;
	color: #139EFF;

}

div.menu {

	width: 100%;
	height: 20px;
	padding: 0px;
	background: #99DE00;
	margin-top: 3px;
	overflow: hidden;


}

span.home {			
	
	background: #139EFF;	
	border-right: 1px SOLID #fff;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;

}

span.home a, span.home a:hover {

	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;
	text-decoration: none;

}

span.alt {

	background: #99DE00;
	border-right: 1px SOLID #fff;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;

}

span.alt a, span.home a:hover {

	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;
	text-decoration: none;

}

span.search {

	background: #99DE00;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	font-size: 11pt;
	font-family: sans-serif;
	font-variant: small-caps;
	float: right;
	height: auto;
	width: 200px;
	border-left: 1px SOLID #fff;
	overflow: hidden;
}

div.post_info {
	width: 500px;
	border-top: 1px SOLID #f3f3f3;
	border-bottom: 1px SOLID #f3f3f3;
	background: #fafafa;
	font-size: 10px;
	color: #444;
	padding: 5px;

}


div.post_info a {

	font-size: 11px;
	color: #99DE00;
	font-weight: bold;
	text-decoration: none;

}

div.main_nav {

	width:150px;
	float: left;
	margin-left: 10px;
	height: 100%
}

div.sub_menu {

	margin-right: auto;
	margin-top: 25px;
	font-size: 12px;
	width: auto;

}

div.sub_menu div {

	background: #99DE00;
	padding: 5px;
	color: #fff;
	width: auto;
	font-variant: small-caps;

}

div.sub_menu a {

	background: #fff;
	color: #666;
	text-decoration: none;
	line-height: 1.25em;
	display: block;
	padding: 1.25ex 0.5em 1.25ex 0.75em;

}

div.sub_menu a:hover {

	background: #f9f9f9;

	color: #666;
	text-decoration: none;
	line-height: 1.25em;
	display: block;
	padding: 1.25ex 0.5em 1.25ex 0.75em;
}

div.content {

	width: 540px;
	margin-top: 25px;
	margin-left: 190px;

}

form, input {

	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 14px;
	font-size: 9pt;

}

.button {

	background: #99DE00;
	color: #fff;
	border: 0px;
	padding: 0px;

}

.cart_table, .cart_table tr, .cart_table td {
	border: 1px solid #e1e3e8;
	padding: 4px;
}

.p_name {
	color: #3399ff;
	font-weight: bold;
}

.cart_button {
	height: 18px;
	width: 18px;
	padding: 0 0 7px;
}

.rating {
	float: left;
	color: #009900;
	width: 22px;
}
.rating_attr {
	color: #009900;
}

.pay_button {
	height: 30px;
	width: 50px;
	padding: 5px 0 14px;
	font-weight: bold;
	color: #009900;
	font-size: 12pt;
}

.balance {
	float: left;
	color: #009900;
}

.usd {
	font-weight: normal;
}

.bal_1 {
	position:absolute;
	left: 100px;
	top: 2px;
	font-weight: bold;
}

.bal_2 {
	position:absolute;
	left: 300px;
	top: 2px;
	font-weight: bold;
}

.rateit {
	width: 60px;
	font-weight: bold;
}